*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2d95e;
    flex-direction: column;
}

.head {
    width: 200px;
    height: 200px;
    background-color: #CB6F40;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.eyes{
    display: flex;
    justify-content: space-between;
    width: 40%;
    position: absolute;
    top: 60px;
}

.eye{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    animation: 1s infinite blink;
}

@keyframes blink {
    20%{
        transform: scaleY(0.2);
    }
}

.mouth_container {
    width: 118px;
    height: 90px;
    background-color: #FBAA61;
    border-radius: 100%;
    margin-top: 90px;
    position: relative;
    display: flex;
    justify-content: center;
}

.nose {
    width: 50px;
    height: 50px;
    background-color: #5D3214;
    border-radius: 100%;
    margin-top: 10px;
}

.mouth {
    width: 80px;
    height: 30px;
    border-top: none;
    border-bottom: 8px solid #5D3214;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    position: absolute;
    bottom: 10px;
}

.mouth::after {
    content: '';
    width: 5px;
    height: 30px;
    background-color: #5D3214;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.body{
    width: 200px;
    height: 250px;
    background-color: #FAAA61;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: -50px;
    position: relative;
}

.body::before{
    content: '';
    width: 200px;
    height: 250px;
    position: absolute;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    background-color: #CE7033;
    z-index: -1;
    bottom: -12px;
}

.hands {
    display: flex;
    justify-content: center;
    margin: -80px;
    z-index: -3;
}

.hand {
    width: 110px;
    height: 300px;
    background-color: #B0632F;
    transform: rotate(40deg);
    border-radius: 50%;
    z-index: -1;
}

.hand:last-child{
    transform: rotate(-40deg);
}

.legs {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    position: relative;
}

.leg {
    width: 100px;
    height: 110px;
    border-radius: 100%;
    background-color: #C8713B;
    position: absolute;
    left: -20px;
}

.leg:last-child{
    left: initial;
    right: -20px;
}

.foot {
    width: 100px;
    height: 110px;
    background-color: #FAAA61;
    border-radius: 50px;
    margin-top: 20px;
}

.leg:first-child .foot {
    transform: rotate(-20deg);
}

.leg:last-child .foot {
    transform: rotate(20deg);
}

.ears{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    top: 23%;
}

.ear {
    width: 100px;
    height: 50px;
    background-color: #F8A95E;
    border: 10px solid #B5602D;
    border-radius: 100%;
    transform: rotate(45deg);
}

.ear:first-child{
    animation: 1s infinite wave-ear-one;
}

.ear:last-child{
    transform: rotate(-45deg);
    animation: 1s infinite wave-ear-two;


}

@keyframes wave-ear-one {
    50% {
        transform: rotate(70deg);
    }
}

@keyframes wave-ear-two {
    50% {
        transform: rotate(-70deg);
    }
}


